Flask==2.3.2
flask-cors==3.0.10
pymongo==4.5.0
dnspython==2.4.2
python-dotenv==1.0.0
flasgger==0.9.7b2   # for Swagger API docs
gunicorn==21.2.0    # if you deploy
opencv-python==4.8.1.78
flask-swagger-ui==4.11.1
python-dotenv
